.content {
  width: 90%;
  margin: 1.4rem auto;
}

.title {
  text-align: center;
  margin-bottom: 3rem;

  h1 {
    font-size: 2rem;
    color: black;
    text-transform: uppercase;
    font-weight: 500;
  }
}

button {
  margin-bottom: 1rem;
  // background-color: #caf5e8;
  // color: white;
}

.table {
  width: 100%;
}

.edit {
  color: #ffb33f;
}

.delete {
  color: #ff3f3f;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}
@media screen and (max-width: 800px) {
    
  .hide-800 {
    display: none;
  }
}
