img {
  height: 3rem;

  &#logo {
    height: 4rem;
  }
}

.header {
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #67c7aa;
  padding: 1rem;
  button{
   color: white;
  }
}

span {
  display: flex;
  align-items: center;

  h1 {
    color: white;
    font-size: 1.5rem;
  }
}

div{
  width: 50%;
  height: 100%;
   display: flex;
   

  &.container-logo{
    padding-top: 2rem;
    align-items: center;
    justify-content: right;
   
  }

  &.container-titulo{
    align-items: center;
    justify-content: left;
  }
}

@media (max-width: 800px) {
  .header {
    display: none;
  }
}