<!-- <mat-toolbar class="header">
  <span class="logo">
    <img  id="logo" src="assets/svg/crono2.png" />
  </span>
  <span class="titulo">
    <h1>AgilizaMEI</h1>
  </span>
</mat-toolbar> -->

<mat-toolbar *ngIf="teste()" class="header">
  <!-- <button mat-icon-button class="button-icon" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button> -->
  <div class="container-titulo">
    <span class="conteiner-titulo">
      <h1>AgilizaMEI</h1>
    </span>
  </div>
  <div class="container-logo">
    <span class="logo">
      <img id="logo" src="assets/svg/crono2.png" />
    </span>
  </div>
</mat-toolbar>
