.content-default {
  height: 90% ;
}



.content-login {
  height: 100%;
}
.menu {
  background-color: #67c7aa;
  color: white;
  border-top: 1px solid white;
}


.menu-button {
  background-color: #67c7aa;
  color: white;
  height: 50px;
  
}

.list {
  color: white;
}

.item {
  color: white;
}

mat-list-item{
  border-bottom: 1px solid white;
  
}

a {
  color: white;
 
  text-transform: uppercase;
  text-decoration: none;
}

mat-list-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transition: .7s all;   
}

.router-link-active {
  font-weight: bold;
}

mat-drawer-content {
  background-color: white;
} 

.hidden {
  display: none;
}

@media (max-width: 800px) {
  .menu-button {
    color: black;
    display: none;
    //background-color: white;
  }

  .menu {
    background-color: white;
    color: black;

    .list {
      color: black;
    }
    
    .item {
      color: black;
    }

    a {
      color: black;
     
      text-transform: uppercase;
      text-decoration: none;
    }
  }

  .hidden {

    display: block;
  }
  
}