<form (ngSubmit)="adicionarItem()" #form="ngForm">
    <h1>Criar Nova Venda</h1>  

    <h2>Adicione o cliente: </h2>
    <mat-form-field class="form" appearance="outline">
      
        <mat-label>Cliente</mat-label>
        <mat-select required [(ngModel)]="clienteVenda.id" name="customer">
          @for (cliente of clientes; track cliente) {
            <mat-option [value]="cliente.id">Nome: {{cliente.name}} / Email: {{cliente.email}}</mat-option>
          }
        </mat-select>
      </mat-form-field>



    <mat-card>
      <mat-card-content>
        <h2>Adicione os produtos: </h2>
      <mat-form-field class="form" appearance="outline">
     
        <mat-label>Produto</mat-label>
        <mat-select required [(ngModel)]="produtoModel.id" name="product">
          @for (produto of produtos; track produto) {
            <mat-option [value]="produto.id"> {{ produto.name }} </mat-option>
          }
        </mat-select>
      </mat-form-field>


      <mat-form-field class="form" appearance="outline">
        <mat-label>Quantidade</mat-label>
        <input required matInput [(ngModel)]="itemVenda.amount" type="number" name="amount">
      </mat-form-field>

      <mat-form-field class="form" appearance="outline">
        <mat-label>Desconto</mat-label>
        <input required matInput [(ngModel)]="itemVenda.discount" type="number" name="discount">
      </mat-form-field>

      <button class="full-width" [disabled]="!form.form.valid" mat-stroked-button color="primary">
        <mat-icon>add</mat-icon>
        Incluir Produto
    </button>


    <h2>items: incluidos:</h2>
    <table mat-table [dataSource]="dataSource">
      <!-- Nome da coluna -->
      <ng-container matColumnDef="product">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let element"> {{element.product.id}} </td>
      </ng-container>
    
      <!-- Quantidade da coluna -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Quantidade </th>
        <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
      </ng-container>
  
      <ng-container matColumnDef="discount">
        <th mat-header-cell *matHeaderCellDef> Desconto </th>
        <td mat-cell *matCellDef="let element"> {{element.discount}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="ordemColunasTabela"></tr>
      <tr mat-row *matRowDef="let row; columns: ordemColunasTabela;"></tr>

      <ng-container matColumnDef="action">
        <th class="mat-header" mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let element">
<!-- 
          <button (click)="removeItem(element)" class="full-width" [disabled]="!form.form.valid" >
            <mat-icon>remove</mat-icon>

        </button> -->
          
        </td>
      </ng-container>

    </table>
    

      </mat-card-content>
    </mat-card>



    <!-- <mat-form-field class="form" appearance="outline">
      <mat-label>Telephone</mat-label>
      <input matInput [(ngModel)]="venda.telephone" type="text" name="telephone">
    </mat-form-field>
   
    <mat-form-field class="form" appearance="outline">
      <mat-label>Senha</mat-label>
      <input matInput [(ngModel)]="venda.password" type="text" name="password">
    </mat-form-field> -->
  
    <!-- <mat-table class="mat-mdc-table mat-table" [dataSource]="itemsVenda">

      <ng-container matColumnDef="customer">
        <mat-header-cell *matHeaderCellDef> cliente </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.product.customer }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="product">
        <mat-header-cell *matHeaderCellDef> Produto </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.product.name }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef>
          Quantidade
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.amount }}
        </mat-cell>
      </ng-container>


      <ng-container matColumnDef="discount">
        <mat-header-cell *matHeaderCellDef>
          Desconto
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.discount | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
        </mat-cell>
      </ng-container>

      

      <mat-header-row
        *matHeaderRowDef="ordemColunasTabela"
      ></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: ordemColunasTabela"
      ></mat-row>
    </mat-table> -->

    <div class="buttons">
      <button [disabled]="items.length === 0" (click)="create()" mat-stroked-button color="primary">Criar</button>
      <button (click)="cancel()" mat-stroked-button color="warn">Cancelar</button>
    </div>
  </form>

  
  <!-- <div class="product-table">
    <h3>Produtos Adicionados</h3>
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Preço</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of itemsVenda">
          <td>{{ product.amount }}</td>
          <td>{{ product.discount | currency:'BRL' }}</td>
        </tr>
      </tbody>
    </table>
  </div> -->
  
  