// .content {
//   width: 90%;
//   margin: 1.4rem auto;
// }

.title {
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 3rem;

  h1 {
    font-size: 2rem;
    color: black;
    text-transform: uppercase;
    font-weight: 500;
  }
}

.grafico {
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  margin-top: 3rem;
  width: 90%;
  height: 450px;

  .title {
    font-size: 1rem;
    margin-top: 2.5rem;
  }
}

.grafico-pie {
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  margin-top: 3rem;
  width: 50%;
  height: 450px;

  .title {
    font-size: 1rem;
    margin-top: 2.5rem;
  }
  mat-card-content {
    width: 100%;
  }

  apx-chart {
    width: 100%;
  }
}

apx-chart {
  width: 100%;
}

mat-card-content {
  width: 100%;
}

@media screen and (max-width: 800px) {
  .grafico-pie {
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    margin-top: 3rem;
    width: 90%;
    height: 450px;

    .title {
      font-size: 1rem;
      margin-top: 2.5rem;
    }
  }
  
}
