table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    width: 100%;
    overflow: hidden;
    display: flex;
  }
  
  .teste{
    width: 100%;
  }
  
  .example-element-diagram {
    width: 100%;
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
  
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .mat-mdc-table {
    width: 100%;
    overflow: auto;
  }
  
  .example-element-description-attribution {
    width: 100%;
  }
  
  .content {
    width: 90%;
    margin: 1.4rem auto;
  }
  
  .title {
    text-align: center;
    margin-bottom: 3rem;
  
    h1 {
      font-size: 2rem;
      color: black;
      text-transform: uppercase;
      font-weight: 500;
    }
  }
  
  button {
    margin-bottom: 1rem;
    // background-color: #caf5e8;
    // color: white;
  }
  
  .table {
    width: 100%;
  }
  
  .edit {
    color: #ffb33f;
  }
  
  .delete {
    color: #ff3f3f;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }

  @media screen and (max-width: 800px) {
    
    .hide-800 {
      display: none;
    }
  }
  

  .mat-elevation-z8 {    
    overflow-x: auto;
   }